<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='<%= static %>/css/style.css' />
    </head>
    <body>
        <h1>ToDoList</h1>
    </body>
</html>
