<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='<%= static %>css/mobile.css' />
    </head>
    <body>
        <h1>Mobile list</h1>
        <div id='app'></div>
        <script src="<%= static %>js/mobile.js"></script>
    </body>
</html>
